body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100vh;
    background-image: url(Pictures/j92bu1kvqyh11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: lightblue;
}

.container h1 {
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url(Pictures/TerrariaBackground.jpg) center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.container a {

}